duckdb==0.10.0
pandas==2.2.2
polars==0.20.20
numpy==1.26.4
scipy==1.13.0
ccxt==4.3.23
statsmodels==0.14.2
vectorbt
pymoo==0.6.0.1
sqlmodel==0.0.16
aiogram==2.25.2
copulas==0.7.0
tqdm==4.66.4